html, body{
    height: 100%;
    margin: 0;
    padding: 15px;
    background-color: rgb(240, 242, 244);
}
.layui-table{
    text-align: center;
}
th{
    text-align: center !important;
}
.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layui-form{
    padding: 20px 30px 0 0;
}